[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
bs4 = "*"
pandas = "*"
lxml = "*"
matplotlib = "*"
selenium = "*"
webdriver-manager = "*"
nb-black = "*"
jupyter = "*"
jsonschema = "*"
sklearn = "*"
numpy = "*"
pytest = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
